<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu primeiro site em Node.js e Express.js></Express></title>
</head>
<body>
    <h1>hello word!</h1>
    <p>Bem vindo ao meu primero site Node.js e Express.js</p>
    <hr>
    <p><a href="/perfil">ir para o seu para o seu perfil</a></p>
    <p><a href="/produtos">ir para pagina de produtos</a></p>
    <p><a href="/clientes">ir para pagina de clientes</a></p>
</body>
</html>