<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
</head>
<body>
     <h1>Produtos</h1>
     <!--exibindo uma variavel javascript dentro do html -->
    <!--Comentario no EJS <%# %>-->
     <%#=produto %>

     <%# if (produto){ %>
        <p><%#= produto %></p>
        <%# } %>

        <!--Percorrendo o vetor atraves do forEad-->
    <% listaProdutos.forEach(function(produto) { %>
        <p>
            <a href="/produtos/<%= produto %>">
            <%= produto %> 
            </a>
            </p>
<% })%>
        <p><a href="/">Voltar</a></p>   
</body>
</html>