<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    <h1>Bem vindo ao seu perfil"
    <hr>
    <p><a href="/">voltar para a pagina inicial</a></p>
</body>

</html>